html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

h1, h2, h3, h4, p {
    margin: 0;
}

li {
    list-style-type: none;
}

 ul {
    margin-left: 0;
    padding-left: 0;
    margin: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #EDF0F5;
}

body {
    font-family:'OpenSans-Bold', sans-serif;
    font-size: 18px;
    line-height: 28px;
    color: rgba(255, 255, 255, 0.9);
    max-width: 1440px;
    margin: 0 auto;
}

.swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;
    background-color:#fff;
} 

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 20px 10px;
}